streamlit
pandas
openpyxl
plotly
mysql-connector-python
streamlit-option-menu
openai
google-generativeai
python-dotenv
sqlalchemy
matplotlib
gpt4all
pdfplumber
sentence-transformers
faiss-cpu
numpy
transformers
langchain
langchain-community
pypdf
google-generativeai
langchain-google-genai
chromadb